Repository wwirt/az-tenant-IaC: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines.yml

azure-pipelines-ci.yml:
  stages:
  - stage: Validate
    displayName: Validate Configuration
    jobs:
    - job: ValidateConfig
      displayName: Validate JSON Config Files
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: PowerShell@2
        displayName: Validate JSON Configuration Files
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: Validate
    displayName: Validate Configuration
    jobs:
    - job: ValidateConfig
      displayName: Validate JSON Config Files
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: PowerShell@2
        displayName: Validate JSON Configuration Files
        inputs:
  ...

Add management group validation and enhance structure in CD pipeline; update management-groups.json with new groups
  azure-pipelines-cd.yml
  azure-pipelines.yml
  config/management-groups.json
Due: azure-pipelines-ci.yml, azure-pipelines.yml

[AI] CI compliance hardening and IaC tenant security controls
  azure-pipelines-cd.yml
  azure-pipelines-ci.yml
  config/management-groups.json
  config/tenant-config.json
  terraform/locals.tf
  terraform/main.tf
  terraform/tenant.tf
  terraform/variables.tf
Due: azure-pipelines-ci.yml, azure-pipelines.yml

[AI] Update Readme documentation with security configuration info
  README.md
Due: none

Changing security level to L1, L2 CIS convention and updating validate
  azure-pipelines-ci.yml
  config/tenant-config.json
  terraform/locals.tf
  terraform/variables.tf
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Correcting trailing brace in tenant config json
  config/tenant-config.json
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Conversion of json validation from Bash to PowerShell
  terraform/validation.tf
Due: azure-pipelines-ci.yml, azure-pipelines.yml

[Refactor] Centralize subscription configs and management group
  azure-pipelines-cd.yml
  config/dev-config.json
  config/management-groups-dev.json
  config/management-groups-prod.json
  config/prod-config.json
  config/tenant-config.json
  terraform/locals.tf
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Correcting tenant config reference
  azure-pipelines-ci.yml
  terraform/variables.tf
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Management group config valdiation and correction of filepath
  azure-pipelines-cd.yml
Due: none

Structure CD stages into deployment template
  azure-pipelines-cd.yml
  templates/deployment-job-template.yml
Due: none

Removing unnecessary variables and tags
  terraform/locals.tf
  terraform/variables.tf
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Correcting triggers to merges on main branch. Removes references to develop branch and update Readme
  README.md
  azure-pipelines-cd.yml
  azure-pipelines-ci.yml
Due: azure-pipelines-ci.yml

Update tenant config from JSON to centralized tenant.yaml
  README.md
  config/README.md
  config/management-groups.json
  config/tenant-config.json
  config/tenant-template.json
  config/tenant.yml
  terraform/README.md
  terraform/locals.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Tuning diagnostic retentions
  terraform/diagnostics.tf
Due: azure-pipelines-ci.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-ci.yml: any of: config, terraform, azure-pipelines-ci.yml
  azure-pipelines.yml: any of: config, terraform, azure-pipelines.yml
